<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Node.js Chatbox" lan="LAN_PLUGIN__NODEJS_CHATBOX_NAME" version="1.0" date="2015-02-17" compatibility="2.0" installRequired="true">
	<author name="lonalore" url="http://lonalore.hu"/>
	<summary lan="LAN_PLUGIN__NODEJS_CHATBOX_SUMM">Node.js integration</summary>
	<description lan="LAN_PLUGIN__NODEJS_CHATBOX_DESC">This plugin provides an chatbox implementation with Node.js.</description>
	<keywords>
		<word>chatbox</word>
		<word>nodejs</word>
	</keywords>
	<category>tools</category>
	<copyright></copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="images/icon_32.png" iconSmall="images/icon_16.png" primary="true">LAN_CONFIGURE</link>
	</adminLinks>
	<pluginPrefs>
		<pref name="nodejs_chatbox_posts">10</pref>
		<pref name="nodejs_chatbox_height">200</pref>
		<pref name="nodejs_chatbox_emote">0</pref>
		<pref name="nodejs_chatbox_mod">254</pref>
	</pluginPrefs>
	<dependencies>
		<plugin name='nodejs' min_version='1.0' />
	</dependencies>
</e107Plugin>
